.lead {
  max-width: 984px;
  text-align: center;
  margin: 0 auto;
}

.lead__title {
  margin: 90px auto 0;
  max-width: 793px;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
}

.lead__subtitle {
  margin: 32px auto 0;
  max-width: 720px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
}

.lead__image {
  width: 100%;
  max-height: 615px;
  margin: 64px auto 0;
  filter: grayscale(100%);
  display: block;
}

@media screen and (max-width: 1279px) {
  .lead__subtitle {
    margin: 99px auto 0;
  }

  .lead__image {
    margin: 69px auto 0;
    max-width: 768px;
    max-height: 480px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .lead__title {
    margin: 50px auto 0;
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }

  .lead__subtitle {
    margin: 60px auto 0;
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
  }

  .lead__image {
    width: 320px;
    max-height: 200px;
    padding-top: 40px;
    margin: 0 auto;
  }
}